body {
    font-family: Arial, sans-serif;
    background-color: #ffffe7; 
    color: #D3D3D3; 
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #FFFFF0; 
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    border-color: 1px solid #d19e00; 
}

h2 {
    color: #FFD700; /* Dorado */
    text-align: center;
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #D3D3D3; 
}

input[type="text"],
input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #D3D3D3; 
    border-radius: 5px;
    background-color: #d8ffd8; 
    color: #555; 
    margin-right: 10px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #ffd900c4; 
    border: none;
    border-radius: 5px;
    color: #a67202;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #e5c100; /* Un dorado más oscuro al pasar el mouse */
}

.campo-error{
    border: 1px solid red;
    box-shadow: 0 0 5px red;
}
.error{
    color: red;
    display: block;
}